@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;600 & family= Roboto:wght@100;300;400 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #34495E ;
}

.chronometre{
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}

.time{
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}

.time span{
    font-family: 'Dancing Script', cursive;
    padding: 5px;
}

.controls{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button{
    background-color: #229954 ;
    color: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 31%;
    border: 0;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    transform: scale(0.9);
}

.auteur{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 700px;
}

.auteur span{
    font-size: 18px;
    font-weight: 700;
}

.auteur a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    body{
        max-width: 100vw;
        width: 100%;
    }

    .chronometre{
        width: 100%;
        padding: 10px;
    }
}